{% extends "base.html.twig" %}
{% block title %}programs by category{% endblock %}

{% block body %}
<h1> les 3 dernières séries de la category : {{ category.name }}</h1>
    
    {% for program in programs  %}
      {% if loop.index > programs|length - 3 %}
      <div>
            <h2>{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
       </div>
      {% endif %}      
    {% else %}
        Aucune série trouvée dans {{ category.name }} .
    {% endfor %}

<a href="{{ path('category_index') }}">
    Retour à la liste des catégories
</a>


{% endblock %}
