{% extends "base.html.twig" %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{ program.title }}</h1>
        <p>{{ program.summary }}</p>
        <h2>Catégorie : {{ program.category.name }}</h2>
        <h3>Saison: {{ season.number }} Année de sortie: {{ season.year }}</h3>
        <p>{{ season.description }}</p>
        <br>
        {% for episode in season.episodes %}
            <div>
                <h4>Episode: {{ episode.number }} Titre: {{ episode.title }}</h4>
                <a href="{{ path("program_episode_show", { "program": program.slug, "season": season.number, "episode": episode.slug}) }}">
                    Voir
                </a>
            </div>
        {% else %}
            Aucune épisode trouvée.
        {% endfor %}
        <a href="{{ path("program_show", { program: program.slug }) }}">
        Retour à la liste des saisons
        </a>
    </div>
    
</div>

{% endblock %}