{% extends "base.html.twig" %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{ program.title }}</h1>
        <p>{{ program.summary }}</p>
        <h2>Catégorie : {{ program.category.name }}</h2>
        <br>
        {% for season in program.seasons %}
            <div>
                <h3>Saison: {{ season.number }} Année de sortie: {{ season.year }}</h3>
                <p>{{ season.description }}</p>
                {# Lien vers la fiche de la saison : #}
                {# <a href="/programs/{{ program.id }}/season/ {{ season.id }}">Voir les épisodes</a> #}
                <a href="{{ path("program_season_show", {"program": program.id, "season": season.id })}}"> Voir les épisodes</a>
            </div>
        {% else %}
            Aucune saison trouvée.
        {% endfor %}
        <strong>Acteurs :</strong>
        <ul>
            {% for actor in program.actors %}
                <li>{{ actor.name }} </li>
                <a href="{{ path("actor_show", {"id": actor.id })}}"> Voir l'acteur'</a>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
        <table class="table">
        <tbody>
            <tr>   
                <td><a href="{{ path('program_index') }}">Retour à la liste des programmes</a></td>
            </tr>
            <tr>
                <td><a href="{{ path('program_edit', { id: program.id } ) }}">Modifier</a></td>
            </tr>
        </tbody>
    </div>

</div>


{% endblock %}
