{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Acteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.name }}</td> 
            </tr>
        </body>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Programes</th>
            </tr>
        </thead>
        <tbody>
            {% for program in actor.programs %}
                <tr>
                    <td>{{ program.id }}</td>
                    <td>{{ program.title }}</td>
                    <td>{{ program.category.name }}</td>
                    <td>{{ program.summary }}</td>
                    <td>
                        <a href="{{ path('program_show', {'id': program.id}) }}">show</a>
                        <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actor_index') }}">back to list</a>

    <a href="{{ path('actor_edit', {'id': actor.id}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
